{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="column">
        <div class='result'>
            <!-- Search bar-->
            <input type="text" class='search-bar' placeholder="Search place, clinic name, or item"> <button class="search-button" onclick="hello()"> Search </button>
            
            <!--RESULT-->
            <div class='preview'>
            
            </div>
            </div>
    </div>
    <div class="column">
        <div class='map'>
            <img src="../static/images/map.jpg" alt="">
        </div>
    </div>
  </div>
{% endblock content %}