{% include "base.html" %}
{% if session == "about" %}
<script>
  $('#about').css("background-color","#178CA4")
  $('#about').css("border-radius","25px")
  $('#about').css("text-align","center")
  $('#about').css("padding-bottom","7px")
  
</script>
{% endif %}
  {% block content %}
    <div class="contents">
<br>
      <div class="banner">
        
        <div class="image-banner">
          <img src="../static/images/logo.png" alt="">
        </div>

        <div class="content-banner">
          <h2>About</h2>
          <br>
          <br>
          <p style="text-indent: 50px;">The researchers have found that many pet owners have difficulty taking care of their pets' health and maintenance in the event of an accident, disease or injury. A lack of knowledge about the locations of veterinary clinics can be harmful to our pets' lives; additionally, pet stores with pet necessities are just as important to know for pet owners. Veterinary clinics and pet-related establishments in Malolos, Bulacan, were promoted by the researchers in order to make identifying them faster and easier, reducing the time it took to find the closest clinic or store. In this way, the GOVET helps pet owners, veterinarian clinics and pet-related retailers get to know one another, ensuring that the animal's health and maintenance are safe.</p>
        </div>

      </div>
      <h2 align="center" style="color: black;">Developers</h2>

      <div  class="developers" >
        <div class="developers-image">
          <img src="../static/images/angelica.jpg" alt="">
        </div>
        <br>
        <div  class="developers-content">
          <h3>Faustino, Ma.Angelica P.</h3>
          <p>BSIT student at Bulacan State University. Major in Service management program</p>
          <p>Email: maangelica.faustino.p@bulsu.edu.ph</p>
        </div>
      </div>
<br>
      <div  class="developers" >
        <div class="developers-image">
          <img src="../static/images/christian.jpg" alt="">
        </div>
        <br>
        <div class="developers-content">
          <h3>Baluyut, Christian B.</h3>
          <p>Hi! I'm a 4th year student in BulSU. My course is BS in Information Technology. Major in Service Management Program. 21 yrs old.</p>
          <p>Email: christian.baluyut.b@bulsu.edu.ph</p>
        </div>
      </div>
<br>
      <div  class="developers" >
        <div class="developers-image">
          <img src="../static/images/erwin.jpg" alt="">
        </div>
        <br>
        <div class="developers-content">
          <h3>Garcia, Erwin V.</h3>
          <p>BSIT student at Bulacan State University. Major in Service management program.</p>
          <p>Email: Erwin.garcia.v@bulsu.edu.ph</p>
        </div>
      </div>
      <br>
      <div  class="developers" >
        <div class="developers-image"> 
          <img src="../static/images/daniel.jpg" alt="">
        </div>
        <br>
        <div class="developers-content">
          <h3>Lopez, Daniel L.</h3>
          <p>BSIT student at Bulacan State University. Major in Service management program. 21 years old.</p>
          <p>Email: daniel.lopez.l@bulsu.edu.ph</p>
        </div>
      </div>
<br>
      <div  class="developers" >
        <div class="developers-image">
          <img src="../static/images/john.jpg" alt="">
        </div>
        <br>
        <div class="developers-content">
          <h3>John Marlon Bulaong</h3>
          <p>BSIT student at Bulacan State University. Major in Service management program</p>
          <p>Email: johnmarlon.bulaong.a@bulsu.edu.ph</p>
        </div>
      </div>
<br>
      <div  class="developers" >
        <div class="developers-image">
          <img src="../static/images/patricia.png" alt="">
        </div>
        <br>
        <div class="developers-content">
          <h3>Sacdalan, Patricia Paola B.</h3>
          <p>BSIT student at Bulacan State University. Major in Service management program. 21 years old.</p>
          <p>Email: patriciapaola.sacdalan.b@bulsu.edu.ph</p>
        </div>
      </div>
      <br>
    {% include 'footer.html' %}
  </div>
    <script>
      $('#about').css("background-color","#178CA4")
      $('#about').css("border-radius","25px")
      $('#about').css("text-align","center")
    </script>
    {%  endblock %}
