{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="{% static 'js/add_item.js' %}" defer></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/add_item.css' %}">
</head>
<style>
    body {
       /* background: url("/static/images/bglogin.jpg") 50% 0 no-repeat fixed; */
       background: url("/static/images/bglogin.jpg");
       background-repeat: no-repeat;
       background-size: 100% 100%;
       background-attachment: fixed;
     }
   
   </style>

<body>
    <div class='header'>
        
    </div>
    <br>


    <form action="/add_item_firebase/" id="addItemForm" method='post' enctype="multipart/form-data" id="add_item_form" style='background-color: white;border: 0.2px solid black; padding: 1%;width: 55%; margin-left: auto;margin-right: auto;'>
    {% csrf_token %}
    <!-- Image Preview-->
    <img src="../static/images/logo.png" id="preview_img" alt="" class="image">
    <br>
    <!-- Input File-->
    <input required name="selected_product_image" id="product_image" accept=".jpg, .jpeg, .png" type="file" alt="Submit" class="credentials">
    <br>
    <!-- Input Prod Name-->
    <label  class="credentials">Product Name</label>
    <input required type="text" name="product_name" id="product_name" class="credentials" placeholder="Product name*">
    <!-- Input Prod Price-->
    <label  class="credentials">Product Price</label>
    <input required type="number" name="product_price" id="product_price"class="credentials" placeholder="Product price*">
     <!-- Category -->
     <label  class="credentials">Product Category</label>
     <select name="productCategory" id="productCategory" class="credentials" form="addItemForm" required>
        <option value="Product">Product</option>
        <option value="Services">Services</option>
    </select>
    <!-- Input Prod Description-->
    <label  class="credentials">Product Description</label>
    <input required type="text" name="product_description" id="product_description" class="credentials" placeholder="Product Description*">
    <!-- Current Number of Items -->
    <input type="number" hidden="true" class="credentials" name="current_number_of_items" id="current_number_of_items" value="{{user_data.total_items}}" />
    <!-- Field Name -->
    <input type="hidden" name="field_name" class="credentials" id="new_field_name" />
    <div class="buttons">
        <input type="submit" value="Save" class="save"  id="settings_edit">
        <button type="button" class="btn-danger cancel"  id="cancel_button" onclick="toHomepage()">Cancel</button>
    </form>
   
    </div>
    
    {% if messages %}
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
    {% endif %}

    <div id="loader"></div>
</body>
</html>
