{% include "home_base.html" %}
{% if session == "request" %}
<script>
  $('#request').css("background-color","#178CA4")
  $('#request').css("border-radius","25px")
  $('#request').css("text-align","center")
</script>
{% endif %}
{% load static %}
{% block content %}
<div style="padding: 25px;">
    <div style=" height: 50vh; margin: 5px;">
        <h1>Request List</h1>
        <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Date Appointment</th>
              <th scope="col">Time Appointment</th>
              <th scope="col">Contact Number</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
              
              {% for appointment in item_list %}
          
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{appointment.appointment_name}}</td>
              <td>{{appointment.appointment_email}}</td>
              <td>{{appointment.appointment_date}}</td>
              <td>{{appointment.appointment_time}}</td>
              <td>{{appointment.appointment_number}}</td>
              <td>
                <form action="/acceptAppointment/" method="post">
                    {% csrf_token %}
                <input type="hidden" name="name" value="{{appointment.appointment_name |escapejs}}">
                <input type="hidden" name="email" value="{{appointment.appointment_email |escapejs}}">
                <input type="hidden" name="date" value="{{appointment.appointment_date}}">
                <input type="hidden" name="time" value="{{appointment.appointment_time}}">
                <input type="hidden" name="number" value="{{appointment.appointment_number}}">
                <input type="hidden" name="clinic_id" value="{{appointment.user_id}}">
                <input type="hidden" name="appointment_id" value="{{appointment.appointment_id}}">
                <button type="submit" class="btn btn-success">Accept</button>
                </form>

                <form action="/declineAppointment/" method="post">
                    {% csrf_token %}
                <!-- <input type="hidden" name="appointment_id" value="">
                <input type="hidden" name="name" value="">
                <input type="hidden" name="email" value="">
                <input type="hidden" name="date" value="">
                <input type="hidden" name="time" value="">
                <button type="submit" class="btn btn-danger">Decline</button> -->

                <button type="button" class="btn btn-danger" 
                onclick="appointmentDecline('{{appointment.appointment_id}}',
                '{{appointment.appointment_name |escapejs}}',
                '{{appointment.appointment_email |escapejs}}' ,
                '{{appointment.appointment_date}}' ,
                '{{appointment.appointment_time}}')">Decline</button>
                </form>
            </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
        <div class="pagination">
          <span class="step-links">
              {% if item_list.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ item_list.previous_page_number }}">previous</a>
              {% endif %}
      
              <span class="current">
                  Page {{ item_list.number }} of {{ item_list.paginator.num_pages }}.
              </span>
      
              {% if item_list.has_next %}
                  <a href="?page={{ item_list.next_page_number }}">next</a>
                  <a href="?page={{ item_list.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
      </div>
    </div>


    


<div style="margin: 5px; height: 50vh;">
    <h1>Accepted</h1>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Date Appointment</th>
              <th scope="col">Time Appointment</th>
              <th scope="col">Contact Number</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
              
              {% for accepted  in item_list2 %}               
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{accepted.appointment_name}}</td>
              <td>{{accepted.appointment_email}}</td>
              <td>{{accepted.appointment_date}}</td>
              <td>{{accepted.appointment_time}}</td>
              <td>{{accepted.appointment_number}}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      <div class="pagination">
        <span class="step-links">
            {% if item_list2.has_previous %}
                <a href="?page2=1">&laquo; first</a>
                <a href="?page2={{ item_list2.previous_page_number }}">previous</a>
            {% endif %}
      
            <span class="current">
                Page {{ item_list2.number }} of {{ item_list2.paginator.num_pages }}.
            </span>
      
            {% if item_list2.has_next %}
                <a href="?page2={{ item_list2.next_page_number }}">next</a>
                <a href="?page2={{ item_list2.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
      </div>
</div>




</div>
<div>
  {% include 'footer.html' %}
</div>
{% endblock %}