{% extends "home_base.html" %}
{% load static %}
{% block content %}
<div style="padding: 25px; display: flex;">
    <div style="width: 50%; margin: 5px;">
        <h1>Request List</h1>
        <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Date Appointment</th>
              <th scope="col">Time Appointment</th>
              <th scope="col">Contact Number</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
              
              {% for appointment in appointment_queue %}
          
            <tr>
              <th scope="row">1</th>
              <td>{{appointment.appointment_name}}</td>
              <td>{{appointment.appointment_email}}</td>
              <td>{{appointment.appointment_date}}</td>
              <td>{{appointment.appointment_time}}</td>
              <td>{{appointment.appointment_number}}</td>
              <td>
                <form action="/acceptAppointment/" method="post">
                <input type="hidden" name="name" value="{{appointment.appointment_name}}">
                <input type="hidden" name="email" value="{{appointment.appointment_email}}">
                <input type="hidden" name="date" value="{{appointment.appointment_date}}">
                <input type="hidden" name="time" value="{{appointment.appointment_time}}">
                <input type="hidden" name="number" value="{{appointment.appointment_number}}">
                <input type="hidden" name="clinic_id" value="{{appointment.user_id}}">
                <input type="hidden" name="appointment_id" value="{{appointment.appointment_id}}">
                <button type="submit" class="btn btn-success">Accept</button>
                </form>

                <form action="/declineAppointment/" method="post">
                <input type="hidden" name="appointment_id" value="{{appointment.appointment_id}}">
                <button type="submit" class="btn btn-danger">Decline</button>
                </form>
            </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
<div style="width: 50%; margin: 5px;">
    <h1>Accepted</h1>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Date Appointment</th>
              <th scope="col">Time Appointment</th>
              <th scope="col">Contact Number</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
              
              {% for accepted  in accepted_appointment %}               
            <tr>
              <th scope="row">1</th>
              <td>{{accepted.appointment_name}}</td>
              <td>{{accepted.appointment_email}}</td>
              <td>{{accepted.appointment_date}}</td>
              <td>{{accepted.appointment_time}}</td>
              <td>{{accepted.appointment_number}}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
</div>
<div>
{% endblock %}