{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="content">

  <input type="hidden" value="{{success}}" id="validation">
    <form action="/forgot_password/" method="post">
        <div class="mb-3">
          {% csrf_token %}
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" name="forgot_pass_email" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Enter your Email address to receive a request change password.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

<script type="text/javascript" defer>
   $( document ).ready(function() {
        console.log($('#validation').val());
        if($('#validation').val() == 'Email Not Found!'){
          Swal.fire({
            icon: 'error',
            title: 'Email Not Found!',
          })
        }
        if($('#validation').val() == 'Successfully Sent To Your Email'){
          Swal.fire({
            icon: 'success',
            title: 'Password Reset Successfully Sent To Your Email',
            confirmButtonText: 'OKAY',
          })
        }
      });
</script>
{% endblock content %}