{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="content">
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Enter your Email address to receive a request change password.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

{% endblock content %}