{% extends "home_base.html" %}
{% load static %}
{% block content %}
<!-- <h1>Welcome {{user_data.first_name}} {{user_data.last_name}}</h1> -->
<h1 class="welcome">Hello, {{user_data.clinic_name}}</h1>

  <form action="/search_item/" method='post'>
    {% csrf_token %}
      <input type="text" name="searchField" class="search-product" placeholder="Search item" required>
      <input type="submit" class="search-button" />
  </form>
<br>
<br>


<div class="items">
    <div class="add-item" onclick="toAddItem()">
    </div>
    {% for key, values in item_data.items reversed %}
    <div  onclick="editItem('{{key}}','{{values.product_img_url}}','{{values.product_img_directory}}' , '{{values.product_name}}' , '{{values.product_price}}' )" id="{{key}}" style="background-size: cover;" class="item" > <!--This is the query i removed--><!--background-image: url({{values.product_img_url}});-->
      {% if values.availability|lower == 'available' %}
      <p style='background-color:#42ba96; font-weight: bold; color:white;'>{{values.availability|upper}}</p><!--Hex color if it's not available #ff0e0e-->
      {% else %}
      <p style='background-color:#ff0e0e; font-weight: bold; color:white;'>{{values.availability|upper}}</p>
      {% endif %}

        <img src="{{values.product_img_url}}" alt="" data-bs-toggle="modal" data-bs-target="#exampleModal"><br><br>
        <b>{{values.product_name}}</b><br><br>
    <div style="display: flex;">
        <button type="button" class="btn btn-success" style="margin:0 10px 0 10px; width: 150px; height: 50px;" onclick="MarkProductAvailable('{{key}}','{{values.product_img_url}}','{{values.product_img_directory}}' , '{{values.product_name}}' , '{{values.product_price}}')">Available</button>
        <button type="button" class="btn btn-danger" style="width: 150px; height: 50px;" onclick="MarkProductNotAvailable('{{key}}','{{values.product_img_url}}','{{values.product_img_directory}}' , '{{values.product_name}}' , '{{values.product_price}}')" >Unavailable</button>
    </div>
    </div>
    {% endfor %}
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit your product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Start Form-->
        <form action="/edit_item_firebase/" method='post' id="edit_item_form" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="modal-body">
            <!-- Image Preview-->
            <img src="../static/images/map.jpg" alt="" class="image" id="edit_prod_img_preview">
            <br>
            <!-- Input File-->
            <input name="selected_edit_product_image" id="edit_prod_img" type="file" alt="Submit" class="credentials" accept=".jpg, .jpeg, .png" required>
            <br>
            <!-- Input Prod Name-->
            <input type="text" id="edit_prod_name" name="edit_prod_name"  class="credentials" placeholder="Product name*" required>
            <!-- Input Prod Price-->
            <input type="number" id="edit_prod_price" name="edit_prod_price" class="credentials" placeholder="Product price*" required>
            <!-- Field Name -->
            <input type="hidden" id="edit_field_name" name="edit_field_name" class="credentials"  />

            <!-- Old Image Directory -->
            <input type="hidden" id="old_image_directory" name="old_image_directory" class="credentials"  />

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" onclick="returnEmpty()">Save changes</button>
        </div>
        </form>
        <!-- End Form-->
      </div>
    </div>
  </div>
  <div id="loader"></div>
 <script src="{% static 'js/homepage.js' %}"></script>
{% endblock %}
