{% include "base.html" %}
{% if session == "dashboard" %}
<script>
  $('#dashboard').css("background-color","#E0C097")
  $('#dashboard').css("border-radius","25px")
  $('#dashboard').css("text-align","center")
</script>
{% endif %}
{% block content %}
<div class="row">
    <div class="column" style="overflow: auto;">
        <div class='result'>
            <!-- Search bar-->
            <form id="search-clinic-form" method="post">
                {% csrf_token %}
                <input required type="text" autocomplete="off" name="search_item" class='search-bar' placeholder="Search place, clinic name, or item" id="searchItem" onkeyup="suggestSearch()"> 
                <input type="submit" class="search-button" value="Search">
            </form>
            <!--RESULT-->
            <div class='preview'>
                <br>
                {% if user_data %}
                <h3 align='center'>Available Clinics</h3>
                {% else %}
                <h3 align='center'>No Clinic Available Right Now</h3>
                {% endif %}
                <form id="indexForm" method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="id_field">
                    <input type="submit" hidden>
                </form>
              
                  
                {% for values in user_data %}
                <!-- {% if time|time:"g:i A" < values.closing_time or values.opening_time < time|time:"g:i A" %} -->
                <div class="preview-item" onclick="showModal('{{values.clinic_name |escapejs}}', '{{values.clinic_img_url}}', '{{values.clinic_address |escapejs}}', '{{values.user_id}}', '{{values.clinic_description |escapejs}}', '{{values.opening_time}}', '{{values.closing_time}}', '{{values.clinic_contact_number}}') " >
                   
                    <img src="{{values.clinic_img_url}}" alt="image">
                    <div class="details">
                      <p align="center" style="font-size:14px;"><b>{{values.clinic_name}}</b></p>
                        <!-- <img src="../static/images/rate.png" alt="" class="rate">
                        <img src="../static/images/rate.png" alt="" class="rate">
                        <img src="../static/images/rate.png" alt="" class="rate">
                        <img src="../static/images/rate.png" alt="" class="rate">
                        <img src="../static/images/rate.png" alt="" class="rate"> -->
                        <!-- <br> -->
                        <br>
                        <p align="center" style="font-size:12px;">{{values.clinic_address}}</p>
                        
                    </div>
                </div>
                <!-- {% endif %} -->
                {% endfor %}

            </div>
            </div>

    </div>
    <div class="column">
        <div class='map'>
            {% autoescape off %}
                {{map}}
            {% endautoescape %}
        </div>
    </div>
  </div>
<div class="grey"></div>
  <div class="item-modal">
    <img src="../static/images/map.jpg" id="item-modal-img" alt="image" 
    style="width: 300px; height: 300px;">
    <div class="details">
        <b><p id="item-modal-name"></p></b>
        <br>
        <!-- <img src="../static/images/rate.png" alt="" class="rate">
        <img src="../static/images/rate.png" alt="" class="rate">
        <img src="../static/images/rate.png" alt="" class="rate">
        <img src="../static/images/rate.png" alt="" class="rate">
        <img src="../static/images/rate.png" alt="" class="rate"> -->
        <!-- <br>
        5.0
        <br>
        <br> -->
        <p id="item-modal-address"></p>
        <p id="item-modal-closingHours" style="font-size: 14px;"><strong>Opening and Closing time</strong></p><!--Dito ilalagay yung open and closing time-->
        <p id="item-modal-description" style="font-size: 14px;"><em>Description here</em></p><!--Dito ilalagay yung description-->
        <p id="item-modal-contact" style="font-size: 12px;"><b>Contact number</b></p>
        <!-- Button trigger modal -->
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #B85C38; color: white;" onclick="showBookAppointment()">
            Book appointment
        </button>
        <p align='left' style="font-size: 12px;">Available Items</p>
        <div id="loading"></div>
        <div class="available-item">
            <!-- Available item design -->
            <!-- <div class="item">
                <img src="../static/images/map.jpg" alt="image">
                <div class="details">
                    <b>Product name</b>
                    <br>
                    Stocks: 0
                </div>
            </div> -->
        </div>
        

    </div>
    <br>
    <!-- <a href="#"><em>Rate</em></a> this clinic. <em style="font-size: 12px;">(This feature is disabled)</em> -->
  </div>

  <div class="search-modal">
      <!-- Search result item-->
      
      <!-- <div class="search-result">
        <img src="../static/images/map.jpg" alt="">
        <div class="details">
            Clinic name
            <br>
            Rate
            <br>
            <br>
            Location
        </div> -->
    </div>
    
  </div>

  <button class="btn btn-primary to_top" onclick="toTop()">Go to Top</button>
 <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book Appointment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/addAppointment/" method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Full Name</label>
                  <input type="text" class="form-control" name="appointment_name" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" name="appointment_email" aria-describedby="emailHelp" required>
                    <i>Confirmation will be sent to your provided Email in this field, make sure it is your working Email.</i>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Date appointment</label>
                    <input type="date" class="form-control" name="appointment_date" aria-describedby="emailHelp" id="datefield" required>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Time appointment</label>
                    <input type="time" class="form-control" name="appointment_time" aria-describedby="emailHelp" required>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                    <input type="number" class="form-control" name="appointment_number" aria-describedby="emailHelp" required>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                        
                  <input type="hidden" name="clinic_id_appointment" id="user_id_appointment" />
                <button type="submit" class="btn btn-primary">Book Appointment</button>
              </form>
        </div>
      </div>
    </div>
  </div>
 
  <div class="modal fade" id="show_pic" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        <div class="modal-body">
            <img src="{{values.product_img_url}}" alt="image" id="image_large" style="text-align: center; width: 100%; height: 100%;">
        </div>
        <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick="returnEmpty()">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <script>
    function toTop(){
      window.scrollTo(0, 0);
    }
  </script>
{% endblock content %}