{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="column">
        <div class='result'>
            <!-- Search bar-->
            <input type="text" class='search-bar' placeholder="Search place, clinic name, or item"> <button class="search-button" onclick="hello()"> Search </button>
            <!--RESULT-->
            <div class='preview'>
                {% for values in user_data %}
                <div class="preview-item" onclick="showModal()">
                    <img src="{{values.clinic_img_url}}" alt="image">
                    <div class="details">
                        {{values.clinic_name}}
                        <br>
                        Rate
                        <br>
                        <br>
                        <p>{{values.clinic_address}}</p>
                        
                    </div>
                </div>
                {% endfor %}

            </div>
            </div>

    </div>
    <div class="column">
        <div class='map'>
            {% autoescape off %}
                {{map}}
            {% endautoescape %}
        </div>
    </div>
  </div>
<div class="grey"></div>
  <div class="item-modal">
    <img src="../static/images/map.jpg" alt="image">
    <div class="details">
        <b>Clinic name</b>
        <br>
        rate
        <br>
        <br>
        <p>Location</p>
        Contact number
        <p align='left' style="font-size: 12px;">Available Items</p>
        <div class="available-item">
            <!-- Available item design -->
            <div class="item">
                <img src="../static/images/map.jpg" alt="image">
                <div class="details">
                    <b>Product name</b>
                    <br>
                    Stocks: 0
                </div>
            </div>
            <div class="item">
                <img src="../static/images/map.jpg" alt="image">
                <div class="details">
                    <b>Product name</b>
                    <br>
                    Stocks: 0
                </div>
            </div>

        </div>

    </div>
  </div>

  <div style="display: none;" class="search-modal">
      <!-- Search result item-->
      <div class="search-result">
          <img src="../static/images/map.jpg" alt="">
          <div class="details">
              Clinic name
              <br>
              Rate
              <br>
              <br>
              Location
          </div>
      </div>
      <div class="search-result">
        <img src="../static/images/map.jpg" alt="">
        <div class="details">
            Clinic name
            <br>
            Rate
            <br>
            <br>
            Location
        </div>
    </div>
    
  </div>
 
{% endblock content %}