{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="column">
        <div class='result'>
            <!-- Search bar-->
            <form id="search-clinic-form" method="post">
                {% csrf_token %}
                <input required type="text" autocomplete="off" name="search_item" class='search-bar' placeholder="Search place, clinic name, or item" id="searchItem" onkeyup="suggestSearch()"> 
                <input type="submit" class="search-button">
            </form>
            <!--RESULT-->
            <div class='preview'>
                <br>
                <h3 align='center'>Available Clinics</h3>
                {{time}}
                <form id="indexForm" method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="id_field">
                    <input type="submit" hidden>
                    </form>
                {% for values in user_data %}
                <!-- {% if time|time:"g:i A" < values.closing_time or values.opening_time < time|time:"g:i A" %} -->
                <div class="preview-item" onclick="showModal('{{values.clinic_name}}', '{{values.clinic_img_url}}', '{{values.clinic_address}}', '{{values.user_id}}', '{{values.clinic_description}}') " >
                   
                    <img src="{{values.clinic_img_url}}" alt="image">
                    <div class="details">
                        {{values.clinic_name}}
                        <br>
                        <img src="../static/images/rate.png" alt="" class="rate">
                        <img src="../static/images/rate.png" alt="" class="rate">
                        <img src="../static/images/rate.png" alt="" class="rate">
                        <img src="../static/images/rate.png" alt="" class="rate">
                        <img src="../static/images/rate.png" alt="" class="rate">
                        <br>
                        <br>
                        <p>{{values.clinic_address}}</p>
                        
                    </div>
                </div>
                <!-- {% endif %} -->
                {% endfor %}

            </div>
            </div>

    </div>
    <div class="column">
        <div class='map'>
            {% autoescape off %}
                {{map}}
            {% endautoescape %}
        </div>
    </div>
  </div>
<div class="grey"></div>
  <div class="item-modal">
    <img src="../static/images/map.jpg" id="item-modal-img" alt="image">
    <div class="details">
        <b><p id="item-modal-name"></p></b>
        <br>
        <img src="../static/images/rate.png" alt="" class="rate">
        <img src="../static/images/rate.png" alt="" class="rate">
        <img src="../static/images/rate.png" alt="" class="rate">
        <img src="../static/images/rate.png" alt="" class="rate">
        <img src="../static/images/rate.png" alt="" class="rate">
        <br>
        5.0
        <br>
        <br>
        <p id="item-modal-address"></p>
        <p style="font-size: 14px;"><strong>Opening and Closing time</strong></p><!--Dito ilalagay yung open and closing time-->
        <p id="item-modal-description" style="font-size: 14px;"><em>Description here</em></p><!--Dito ilalagay yung description-->
        <p style="font-size: 12px;"><b>Contact number</b></p>
        <p align='left' style="font-size: 12px;">Available Items</p>
        <div id="loading"></div>
        <div class="available-item">
            <!-- Available item design -->
            <!-- <div class="item">
                <img src="../static/images/map.jpg" alt="image">
                <div class="details">
                    <b>Product name</b>
                    <br>
                    Stocks: 0
                </div>
            </div> -->
            
        </div>
        

    </div>
    <br>
    <a href="#"><em>Rate</em></a> this clinic. <em style="font-size: 12px;">(This feature is disabled)</em>
  </div>

  <div class="search-modal">
      <!-- Search result item-->
      
      <!-- <div class="search-result">
        <img src="../static/images/map.jpg" alt="">
        <div class="details">
            Clinic name
            <br>
            Rate
            <br>
            <br>
            Location
        </div> -->
    </div>
    
  </div>
 
{% endblock content %}