
{% for key, values in item_data.items reversed %}
            <div class="item">
                <img src="{{values.product_img_url}}"  alt="image" data-bs-toggle="modal" data-bs-target="#show_pic" style="cursor: pointer;" onclick="get_image_value('{{values.product_img_url}}')">
                <br>
                <br>
                <div class="details">
                    <b>Product Name: </b>
                    {{values.product_name}}
                    <br>
                    <b>Product Price: </b>
                    Php {{values.product_price}}
                    <br>
                    <b>Product Category: </b>
                    {{values.product_category}}
                    <br>
                    <b>Product Description: </b>
                    {{values.product_description}}
                    <br>
                    {% if values.availability == "available" %}
                    <strong><wow style="color: green;">{{values.availability}}</wow></strong>
                    {% else %}
                    <strong><wow style="color: red;">{{values.availability}}</wow></strong>
                    {% endif %}
                </div>
            </div>

{% endfor %}
<script>
    function get_image_value(image_url){
    $('#image_large').attr('src',image_url)
}
</script>