{% extends "base.html" %}
{% block content %}
<div class='login-content'>
    <h1 class='login-h1'>Login to your account</h1>
    <input type="email" placeholder="Email" class='login-input'>
    <input type="password" placeholder="Password" class='login-input'>
    <br>
    <a href="#" class="login-link">Forgot your password?</a>
    <br>
    <button class="login-button">Login</button>
    <br>
    <br>
    <a href="{% url 'register' %}" class="login-link" style='text-align: center;'>Not a member? Register here.</a>
    
</div>
{% endblock content %}