{% include "base.html" %}
{% if session == "login" %}
<script>
  $('#login').css("background-color","#178CA4")
  $('#login').css("border-radius","25px")
  $('#login').css("text-align","center")
</script>
{% endif %}
{% block content %}
<div class='login-content' style="height: 100vh;">
    <form method='post' id="loginForm">
    {% csrf_token %}
    <h1 class='login-h1'>Login to your account</h1>
    <input type="email" name="login_email" id="login_email" placeholder="Email" class='login-input' required>
    <input type="password" name="login_password" id="login_password" placeholder="Password" class='login-input' required>
    <br>
    <a href="{% url 'forgot_password' %}" class="login-link"><i>Forgot your password?</i></a>
    <br>
    <h3 id="responseMessage"></h3>
    <input type="submit" value="Login" class="login-button" />
    <br>
    <br>
    <a href="{% url 'register' %}" class="login-link" style='text-align: center;'><i>Not a member? Register here.</i></a>
</div>
{% include 'footer.html' %}
<div id="loader"></div>
{% endblock content %}