{% include "base.html" %}
{% if session == "register" %}
<script>
  $('#register').css("background-color","#178CA4")
  $('#register').css("border-radius","25px")
  $('#register').css("text-align","center")
</script>
<style>
  body {
     /* background: url("/static/images/bglogin.jpg") 50% 0 no-repeat fixed; */
     background: url("/static/images/bglogin.jpg");
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-attachment: fixed;
   }
 
 </style>
{% endif %}
{% block content %}

<div>
<div class='register-content'>
    
    <form method='post' id="registerForm" enctype="multipart/form-data" style='text-align: center;background-color: white;border: 0.2px solid black; padding: 5%;'>
    {% csrf_token %}
    <h1 class='register-h1'>You can register your clinic here</h1>
    <br>
    <h5 align='center'>Make Your First Step Towards Getting your Animal Clinic More Discoverable</h5><br>
    <!-- Clinic Image Preview-->
    <img src="../static/images/logo.png" id="preview_img" alt="" class="image">
    <br>
    <br>
    <!-- Clinic Image Input File-->
    <input required name="clinic_image" id="clinic_image" accept=".jpg, .jpeg, .png" type="file" alt="Submit" class="credentials" style="border: 0.2px solid black;padding: 0.5%;">
    <br>
    <!-- Clinic Name -->
    <input required type="text" placeholder="Clinic name *" name="clinicName" id="clinicName" class='register-input'>
    <!-- Category -->
        <select class='register-input' name="clinicCategory" id="selectCategory" form="registerForm" required>
            <option value="Vet Clinic">Vet Clinic</option>
            <option value="Pet Salon">Pet Salon</option>
            <option value="Pet Shop">Pet Shop</option>
        </select>
    <!-- Address -->
    <input required type="text" placeholder="Clinic address *" name="clinicAddress" id="clinicAddress" class='register-input'>
    <input required type="number" placeholder="Contact number *" name="clinicContact" id="clinicContact" class='register-input' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  maxlength="11">
    <h3> Please Select Exact Location on the Map</h3>
     <!-- Map -->
     {% autoescape off %}
     {{map}}
     {% endautoescape %}

    <input style="pointer-events: none;" required type="text"  placeholder="latitude" name="latitude" id="latitude" class='register-input'>
    <input style="pointer-events: none;" required type="text"  placeholder="longitude" name="longitude" id="longitude" class='register-input'>
    <!-- Email -->
    <input required type="email" placeholder="Email*" name="registerEmail" id="registerEmail" class='register-input' onkeyup="validation();">
    <span id="emailValidationText"></span>
    <!-- Password -->
    <input required type="password" minlength="6" placeholder="Password *" name="password" id="password" class='register-input'>
    <input required type="password" minlength="6" placeholder="Confirm password *" name="confirm_password" id="confirm_password" class='register-input'>
    <br>
    <br>
    <br>
    <div class="form-floating mb-3">
      <input required type="time" class="form-control" id="opening_time" placeholder="Opening">
      <label for="floatingInput">Opening</label>
    </div>
    <br>
    <div class="form-floating mb-3">
      <input required type="time" class="form-control" id="closing_time" placeholder="Closing">
      <label for="floatingInput">Closing</label>
    </div>
    <textarea rows="4" cols="50" placeholder="Add description"  name="clinicDescription" id="clinicDescription" class="register-input"></textarea>
    <br>
    <!-- <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" disabled>
        <option selected>Select your payment method</option>
        <option value="1">Gcash</option>
      </select>
      <p>The system is under development. The payment method is currently disabled.</p> -->
    <h3 id="responseMessage"></h3>
    <input type="checkbox" id="agree" required>
    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"> Agree to Terms and Agreement in this website.</a>
    <input type="submit" value="Register" class="register-button" />
    <br>
    <br>
    <a href="{% url 'login' %}" class="register-link" style='text-align: center;'><i>Already a member? Login here.</i></a>
    </form>
</div>
{% include 'footer.html' %}
</div>
<div id="loader"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">End-User Terms and Agreement</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <b>End User License Agreement</b>
        <br>
        <br>
        <b>EULA</b>
        <br>
        <br>
        <br>
        1. This Agreement will be available and eligible until a certain clinic is no longer included in the system.
        <br>
        <br>
        2. The super-admin will only be the one who can accept/decline requests from veterinary clinics.
        <br>
        <br>
        3. Transactions are performed between the customer and the veterinary clinic only.
        <br>
        <br>
        4. Information’s are voluntarily given by the veterinary clinics and will be used for location information only, contact information of the veterinary clinics are strictly for transactions use.
        <br>
        <br>
        5. Email Accounts are used for verification and security purposes only.
        <br>
        <br>
        6. You acknowledge that by to use any of the Offerings, You may come across content that is insulting, inappropriate, or inappropriate, which information may or may not be diagnosed as having strong language, and that the results of any search or entering of a particular URL may produce links or reference materials to objectionable content instantaneously and unintentionally. Nonetheless, you acknowledge that you are using the Services at your own risk and that the Application Provider will not be liable to you for any material that is determined to be offensive, indecent, or objectionable.
        <br>
        <br>
        7. Some Services, as well as links to third-party web sites, may display, incorporate, or make accessible third-party content, data, information, applications, or materials ("Third Party Materials"). You recognize and accept that the website is not responsible for inspecting or assessing the content, accuracy, completeness, timeliness, validity, copyright compliance, legality, decency, quality, or any other element of such Third Party Materials or websites by utilizing the Services.
        <br>
        <br>
        8. Location information provided by any Services is aimed only for simple aerial mapping and should not be relied upon in situations where precise location information is required or where mistaken, misleading, or insufficient location data could result in death, personal injury, loss of property, or damage to the environment.
        <br>
        <br>
        9. All the details in this Software is in English, and its use is destined solely for persons entirely proficient in English.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
{% endblock content %}