{% if search_item|length > 0 %}
    {% for values in user_data %}
            {% if search_item|lower in values.clinic_name|lower %}
            <div class="search-result" onclick="showModal('{{values.clinic_name}}', '{{values.clinic_img_url}}', '{{values.clinic_address}}', '{{values.user_id}}')">
                <img src="{{values.clinic_img_url}}" alt="">
                <div class="details">
                    {{values.clinic_name}}
                    <br>
                    Rate
                    <br>
                    <br>
                    {{values.clinic_address}}
                </div>
            </div>

            {% elif search_item|lower in values.clinic_address|lower %}
            <div class="search-result" onclick="showModal('{{values.clinic_name}}', '{{values.clinic_img_url}}', '{{values.clinic_address}}', '{{values.user_id}}')">
                <img src="{{values.clinic_img_url}}" alt="">
                <div class="details">
                    {{values.clinic_name}}
                    <br>
                    Rate
                    <br>
                    <br>
                    {{values.clinic_address}}
                </div>
            </div>

            {% else %}

                {% for items in item_data %}
                {% for key, item_value in items.items %}
                        {% if search_item|lower in item_value.product_name|lower %}
                
                                {% if item_value.belong_to == values.user_id %}
                                <div class="search-result" onclick="showModal('{{values.clinic_name}}', '{{values.clinic_img_url}}', '{{values.clinic_address}}', '{{values.user_id}}')">
                                    <img src="{{values.clinic_img_url}}" alt="">
                                        <div class="details">
                                            {{values.clinic_name}}
                                            <br>
                                            Rate
                                            <br>
                                            <br>
                                            {{values.clinic_address}}
                                        </div>
                                </div>
                                {% endif %}
                
                        {% endif %}
                        {% endfor %}            
                    {% endfor %}

            {% endif %}
        
    {% endfor %}



{% endif %}