.search-bar:focus{
    outline: none !important;
    border:3px solid #178CA4;
}
.item-modal{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: whitesmoke;
        border-radius: 5px;
        border: 1px solid gray;
        display: none;
        padding:10px;
}
.grey{
    width: 100%;
    height: 100vh;
    background-color: gray;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    .to_top{
        position: fixed;
        top: 95%;
        left: 5%;
    }
    .header{
        background-color:#072A40;
    }
    .search-bar{
        width: 70%;
        height: 50px;
        border-radius: 5px;
        border:2px solid #178CA4 ;
        margin-right: 5px;
    }
    .search-button{
        background-color: #178CA4;
        border-radius: 5px;
        border:1px solid #178CA4;
        margin-left: 5px;
        width: 25%;
        height: 50px;
        color: #F9F7F0;
    }
        .result{
        padding: 10px;
    }
    .preview{
        margin: auto;
        width: 100%;
        margin-top:10px;
    }
    .map{
        width: 100%;
        height: 100%;
        padding: 10px;
    }
     .map img{
         width: 100%;
         height: 100%;
     }
     .preview-item{
         width: 100%;
         height: 150px;
         border: 1px solid #072A40;
         border-radius: 5px;
        display: flex;
        cursor: pointer;
        padding: 5px;
        margin: 5px 0 5px 0;
     }
     .preview-item:hover{
         background-color: #178CA4;
         border: 1px solid #178CA4;
         color: #F9F7F0;
     }
     .preview-item img{
         width: 100px;
         height: 100px;
     }
     .preview-item .rate{
        width: 24px;
        height: 24px;
    }
     .preview-item .details{
         padding: 10px;
         width: 60%;
         height: 100%;
         overflow-y: hidden;
     }
     .item-modal{
         width: 90%;
         height: 500px;
         margin-right: 10px;
         text-align: center;
     }
     .item-modal img{
         width: 100%;
         height: 50%;
     }
     .item-modal .available-item .item{
         width: 100%;
         border: 1px solid black;
         display: flex;
         padding: 5px;
     }
     .item img{
         width: 100px;
         height: 100px;
     }
     .item .details{
        text-align: center;
        width: 80%;
     }
     .search-modal{
         width: 95%;
         height: 500px; /*This should be automatic, remove this when data is real*/
         border: 1px solid #178CA4;
         position: absolute;
         top:140px;
         left: 0;
         margin-left: 10px;
         background-color: white;
         border-radius: 5px;
         
     }
     .search-modal .search-result{
         width: 100%;
         height: 170px;
         border-bottom:1px solid #178CA4;
         padding: 5px;
         display: flex;
         margin-top: 3%;
     }
     .search-result img{
         width: 100px;
         height: 100px;
     }
     .search-result .details{
         width: 70%;
         height: 100%;
         text-align: center;
     }
     .details .rate{
         width: 24px;
         height: 24px;
     }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .preview-item img{
        width: 100px;
        height: 100px;
    }
    .preview-item .details{
        padding: 10px;
        width: 70%;
        height: 100%;
        overflow-y: hidden;
    }
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .preview-item img{
        width: 100px;
        height: 100px;
        margin-top: 2%;
        margin-left: 3%;
    }
    .preview-item .details{
        padding: 10px;
        width: 70%;
        height: 100%;
        overflow-y: hidden;
    }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .preview-item img{
        width: 100px;
        height: 100px;
    }
    .preview-item .details{
        padding: 10px;
        width: 70%;
        height: 100%;
        overflow-y: hidden;
    }
    .item-modal{
        width: 50%;
        height: 600px;
        margin-right: 10px;
    }
    .search-modal{
        width: 68%;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
.to_top{
    display: none;
} 
 /* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    height: 100vh;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .map{
      height: 100%;
  }
  .search-modal{
    width: 48%;
    top:150px;
    padding: 10px;
}
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
    .preview-item img{
        width: 100px;
        height: 100px;
    }
    .preview-item .details{
        padding: 10px;
        width: 70%;
        height: 100%;
        overflow-y: hidden;
    }
    .item-modal{
        width: 30%;
        height: 600px;
        margin-right: 10px;
    }
}

#loading {
    background: url('/static/images/loading.gif') no-repeat center center;
    position: absolute;
    top: 95%;
    left: 43%;
    right: 0;
    bottom: 0;
    height: 20%;
    width: 20%;
    z-index: 9999999;
}